body {
  background-color: rgb(0,128,0, 0.5);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7G-R9duZjuz-iiwyiqlqfeaSWyimq2koWtg&usqp=CAU");
  background-repeat: repeat-x;
  color: white;
  font-family: Arial, Times New Roman, sans-serif;
  margin: 10% 10%
}

.experience-header {
  border-top: 1px double white;
  border-bottom: 1px double white;
  border-width: 5px
}

.name {
  text-align: center;
  font-size: 18px;
  background-color: black;
  height: 50%;
  animation-name: blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {background-color: black;}
  25% {background-color: blue;}
  50% {background-color: orange;}
  75% {background-color: purple;}
  100% {background-color: black;}
}
